{% extends 'base.html' %}
{% load static %}

{% block title %} Lar de Patinhas | Adote {% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- Formulário de pesquisa -->
    <!-- <form class="d-flex mb-2" action="{% url 'adote' %}" method="GET">
        <input class="form-control me-2" type="search" placeholder="Pesquise o nome ou raça do bichinho que deseja" aria-label="Pesquisar"
            name="pesquisa_query" value="{{ request.GET.pesquisa_query }}">
        <button class="btn btn-outline-secondary mb-2" type="submit">Buscar</button>
    </form> -->
    <form class="d-flex mb-2" action="{% url 'adote' %}" method="GET">
        <div class="input-group w-100">
            <input class="form-control" type="search" placeholder="Pesquise o nome ou raça do bichinho que deseja" aria-label="Pesquisar"
                name="pesquisa_query" value="{{ request.GET.pesquisa_query }}" style="color: #FFFFFF; background-color: #F07C93;  border: none;">
            <button class="btn btn-outline-secondary  p-4 m-0" type="submit" style=" color: #FFFFFF; background-color: #F07C93; border: none;">
                 Buscar
            </button>
        </div>
    </form>

    {% if pesquisa_query %}
    <div class="text-center mb-4">
        <h1 class="display-6">Resultados para: <strong>{{ pesquisa_query|capfirst }}</strong></h1>
    </div>
    {% endif %}

    <hr>

    <!-- Grid de animais disponíveis para adoção -->
    <div class="container">
        <div class="row">
            <!-- Loop pelos pets disponíveis -->
            {% for pet in animais %}
            <div class="col-sm-4">
                <!-- Aqui deve entrar o link para o detalhe do pet -->
                <a href="{% url 'detalhes_pet' pet.id %}" class="text-decoration-none"> 
                    <div class="card">
                        <img src="{{ pet.imagem.url }}" class="card-img" alt="Imagem de {{ pet.nome_pet }}">
                        <div class="card-body p-1 mt-3">
                            <h5 class="card-title" style="color: #1a1a1a;">{{ pet.nome_pet }}</h5>
                            <p class="card-text">{{ pet.idade_pet }}, {{ pet.raca_pet }}</p>
                        </div>
                    </div>
                </a>
                
                <!-- final do card -->
            </div>
            {% empty %}
            <p class="text-center">Nenhum animal disponível para adoção no momento.</p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}