<!-- Vou extender a base.html para home -->
{% extends 'base.html' %}
{% load static %}

<!-- Bloco de conteúdo da nossa Home. -->
{% block content %}

<div class="container my-5">
    <h1 class="text-center" style="color: #F07C93;">Squad Carmen Portinho</h1>
    <p class="text-center" style="color: #6b6b6b;">
        Este projeto foi desenvolvido no âmbito de um bootcamp em Django e Python oferecido pela WoMakersCode. A Squad
        Carmem Portinho, composta por oito mulheres talentosas e dedicadas, se uniu para criar a plataforma "Lar de
        Patinhas", um sistema de gestão de adoção responsável de animais. 
        <br>
        Construído majoritariamente com Python e
        Django Web, este projeto incorpora os conhecimentos adquiridos ao longo dos 4,5 meses de curso.
        O Lar de Patinhas foi idealizado para facilitar o processo de adoção, permitindo que as instituições realizem
        toda a gestão das adoções, ou seja, a aprovação ou reprovação das pessoas interessadas em adotar um novo
        amiguinho de quatro patas, promovendo a responsabilidade e o bem-estar dos animais adotados.
    </p>

    <div class="row g-3">
        <!-- Ana -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/ana.jpeg' %}" class="card-img-top rounded-top" alt="Imagem de Ana">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Ana Pires</h5>
                    <p class="card-text">Fundraising @ InspiringGirls.</p>
                    <a href="https://github.com/ana-kharo" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/anakharo/" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <!-- Andrezza -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/andreza.jpeg' %}" class="card-img-top rounded-top" alt="Imagem de Andrezza">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Andrezza Nogueira</h5>
                    <p class="card-text">Estudante FullStack.</p>
                    <a href="https://github.com/Andiichi" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/andrezzanogueira/" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <!-- Arielle -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/ariele.jpeg' %}" class="card-img-top rounded-top" alt="Imagem de Arielle">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Arielle Oliveira</h5>
                    <p class="card-text">Quality Assurance Engineer at @globant</p>
                    <a href="https://github.com/arielleoliveira" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/arielle-oliveira-343b6a35/" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <!-- Elizabete -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/elizabete.jpeg' %}" class="card-img-top rounded-top"
                    alt="Imagem de Elizabete">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Elizabete de Souza Fabri</h5>
                    <p class="card-text">Engenheira de Software @Itaú</p>
                    <a href="https://github.com/elizabetefabri" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://linkedin.com/in/elizabetefabri" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <!-- Ingrid -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/ingrid.jpeg' %}" class="card-img-top rounded-top" alt="Imagem de Ingrid">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Ingrid Munhoz</h5>
                    <p class="card-text">Estudante de ADS @ PUCPR.</p>
                    <a href="https://github.com/ingxrd" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/ingridmunhoz/" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <!-- Livia -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/livia.jpeg' %}" class="card-img-top rounded-top" alt="Imagem de Livia">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Livia Matias</h5>
                    <p class="card-text">Estudante de Engenharia da Computação pela UNIVESP.</p>
                    <a href="https://github.com/liviatech" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/livia-matias-/" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <!-- Rosi -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/rose.jpeg' %}" class="card-img-top rounded-top" alt="Imagem de Rose">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Rosicleide Xistulino</h5>
                    <p class="card-text">Estudante de Sistema de Informação @ Impacta.</p>
                    <a href="https://github.com/Xistulino" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/rosicleide-xistulino/" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <!-- Thais -->
        <div class="col-sm-4">
            <div class="card-sobre rounded shadow-sm">
                <img src="{% static 'imgs/thais.jpeg' %}" class="card-img-top rounded-top" alt="Imagem de Thais">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: #1a1a1a;">Thais D'avilla</h5>
                    <p class="card-text">Estudante de Engenharia da Computação @ UNIVESP.</p>
                    <a href="https://github.com/ThaisDavilla" class="btn btn-outline-secondary me-2">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://www.linkedin.com/in/thaisdavilla/" class="btn btn-outline-secondary">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}