.card-img {
    width: 100%; /* Faz a imagem ocupar toda a largura do card */
    height: 350px; /* Define uma altura fixa */
    object-fit: cover; /* Corta a imagem para caber na área sem distorcer */
    border-radius: 5%;
}

.card{
    border: none;
    margin-top: 20px;
}

.card-text{
    color: #716C6C;
}

.card-title{
    font-weight: bold;
}