.card-img {
    width: 100%; 
    height: 350px; 
    object-fit: cover;
    border-radius: 5%;
}

.card{
    border: none;
    margin-top: 20px;
}

.card-text{
    color: #716C6C;
}

.card-title{
    font-weight: bold;
}